In [28]:
import pandas as pd

In [29]:
df = pd.read_csv("datasets/Iris.csv")

In [30]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           NaN            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [31]:
df.shape

(150, 6)

In [32]:
missing = df.isnull().values.any()

In [33]:
if missing == True:
    df = df.ffill().bfill()
    print("null values filled")
else:
     print("no null values encountered")

null values filled

In [36]:
for col in df.dtypes:
    if col != "int64" || "float64":
        df[col] = df[col]

int64
float64
float64
float64
float64
object

In [37]:
numeric_cols = df._get_numeric_data().columns

In [38]:
numeric_cols

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'], dtype='object')