In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("datasets/Iris.csv")

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           NaN            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.shape

(150, 6)

In [5]:
missing = df.isnull().values.any()

In [6]:
if missing == True:
    df = df.ffill().bfill()
    print("null values filled")
else:
     print("no null values encountered")

null values filled

In [7]:
for col in df.dtypes:
    print(col)

int64
float64
float64
float64
float64
object

In [8]:
for names in df.columns:
    print(names)

Id
SepalLengthCm
SepalWidthCm
PetalLengthCm
PetalWidthCm
Species

In [9]:
df["Id"].dtypes

dtype('int64')

In [10]:
from sklearn import preprocessing 
label = preprocessing.LabelEncoder()

In [11]:
object_col = df.select_dtypes(include=['object']).columns
print(object_col[0])

Species

In [12]:
for name in object_col:
    df[name] = label.fit_transform(df[name])

In [13]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.0            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [14]:
import prettymetrics
from sklearn.model_selection import train_test_split

from prettymetrics.supervised import LazyClassifier
from sklearn.datasets import load_digits

ModuleNotFoundError: No module named 'prettymetrics.supervised'

In [17]:
X = df.iloc[:,:-1]
y = df[df.columns[-1]]

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=.3,random_state =123)

In [19]:
clf = LazyClassifier(verbose=0,ignore_warnings=True, custom_metric=None)
models,predictions = clf.fit(X_train, X_test, y_train, y_test)

NameError: name 'LazyClassifier' is not defined

In [20]:
models

NameError: name 'models' is not defined

In [20]:
# numeric_cols = df._get_numeric_data().columns

In [21]:
# numeric_cols